@import "theme.scss";
$sliderWidth: 200px;
input[type="range"] {
	$margin: 22px;
	margin-bottom: $margin;
	width: $sliderWidth;
	// width: 600px;
	-webkit-appearance: none;
	&:focus {
		outline: none;
	}
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 1px;
		cursor: pointer;
		box-shadow: none;
		background: #ffffff;
		border-radius: 0px;
		border: 0px solid #010101;
	}
	&::-moz-range-track {
		width: 100%;
		height: 1px;
		cursor: pointer;
		box-shadow: none;
		background: #ffffff;
		border-radius: 0px;
		border: 0px solid #010101;
	}

	&::-webkit-slider-thumb {
		box-shadow: none;
		border: 0px solid #ffffff;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
		height: 30px;
		width: 15px;
		border-radius: 15px;
		background: rgba(255, 255, 255, 1);
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -15px;
		&:hover {
			background-color: $primary;
			transition: background $hoverTansitionSpeed ease-in-out;
		}
	}
	&::-moz-range-thumb {
		box-shadow: none;
		border: 0px solid #ffffff;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
		height: 30px;
		width: 15px;
		border-radius: 15px;
		background: rgba(255, 255, 255, 1);
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -15px;
		&:hover {
			background-color: $primary;
			// transition: background $hoverTansitionSpeed ease-in-out;
		}
	}
	&::-moz-focus-outer {
		border: 0;
	}
}

.sliderGroup {
	.title {
		margin-bottom: margin;
		font-size: 20px;
		width: $sliderWidth;
		text-align: center;
	}
	.label {
		width: $sliderWidth;
		text-align: center;
		margin-bottom: 15px;
	}
}
