@import "theme.scss";
@import "slider.scss";
@import "button.scss";

body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
		sans-serif;
	color: white;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(180deg, #080aaf 0%, #2d056d 100%) no-repeat;
	.mainTitle {
		padding-left: 15px;
		padding-top: 10px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		width: 150px;
		height: 50px;
		border-bottom-right-radius: 40px;
		background-color: $primary;
		font-size: 30px;
		// border-style: solid;
		color: white;
	}
	.bodyContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.controlsContainer {
			margin-top: 50px;
			display: flex;
			flex-direction: row nowrap;
			align-items: center;
			.controlsColumn {
				$margin: 30px;
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				margin-left: $margin;
				margin-right: $margin;
			}
		}
	}
}

.inputGroup {
	.label {
		margin-top: 0px;
		text-align: center;
	}
}
